@model List<Human>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Is sick</th>
        <th>Gender</th>
        <th>Country</th>
    </tr>
    @foreach (var human in @Model)
    {
        <tr>
            <td>@human.FirstName</td>
            <td>@human.LastName</td>
            <td>@human.Age</td>
            <td>@human.IsSick</td>
            <td>@human.Gender</td>
            <td>@human.Country.Name</td>
        </tr>
    }
</table>

