@using System.Collections
@{
    var somebody = ViewData["Human"];
}
<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Is sick</th>
        <th>Gender</th>
        <th>Country Id</th>
    </tr>
    @if (somebody.GetType() == typeof(List<Human>))
    {
        @foreach (var human in somebody as List<Human>)
        {
            <tr>
                <td>@human.FirstName</td>
                <td>@human.LastName</td>
                <td>@human.Age</td>
                <td>@human.IsSick</td>
                <td>@human.Gender</td>
                <td>@human.CountryId</td>
            </tr>
        }
    }
    else
    {
        var singleHuman = somebody as Human;
        <tr>
            <td>@singleHuman.FirstName</td>
            <td>@singleHuman.LastName</td>
            <td>@singleHuman.Age</td>
            <td>@singleHuman.IsSick</td>
            <td>@singleHuman.Gender</td>
            <td>@singleHuman.CountryId</td>
        </tr>
    }
</table>




