@model List<Human>
@{
    ViewData["Title"] = "Humans";
}
<table class="table table-hover" style="margin-top: -14px">
    <tr style="background-color: #8cf7ff ">
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Is sick</th>
        <th>Gender</th>
        <th>Country Id</th>
    </tr>
    @foreach (Human human in @Model)
    {
        <tr>
            <td>@human.FirstName</td>
            <td>@human.LastName</td>
            <td>@human.Age</td>
            <td>@human.IsSick</td>
            <td>@human.Gender</td>
            <td>@human.Country.Name</td>
        </tr>
    }


</table>