<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Is sick</th>
        <th>Gender</th>
        <th>Country Id</th>
    </tr>
    @if (@Model.GetType() == typeof(List<Human>))
    {
        @foreach (Human human in @Model)
        {
          <tr>
                <td>@human.FirstName</td>
                <td>@human.LastName</td>
                <td>@human.Age</td>
                <td>@human.IsSick</td>
                <td>@human.Gender</td>
                <td>@human.CountryId</td>
            </tr>
        }
    }
    else
    {
        var singleHuman = Model as Human;
        <tr>
            <td>@singleHuman.FirstName</td>
            <td>@singleHuman.LastName</td>
            <td>@singleHuman.Age</td>
            <td>@singleHuman.IsSick</td>
            <td>@singleHuman.Gender</td>
            <td>@singleHuman.CountryId</td>
        </tr>
    }
</table>