@section NewsSection{
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th colspan="2">Author</th>
            <th>IsFake</th>
        </tr>
        @foreach (News news in @Model)
        {
            <tr>
                <td>@news.Id</td>
                <td>@news.Title</td>
                <td>@news.Text</td>
                <td colspan="2">
                    <a asp-controller="Human" asp-action="Author" asp-route-authorId="@news.Author.Id">@news.Author.FirstName @news.Author.LastName</a>
                </td>
                <td>@news.IsFake</td>
            </tr>
        }
    </table>
}