@if (ViewData["newsById"].GetType() == typeof(News))
{
    var news = ViewData["newsById"] as News;

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th colspan="2">Author</th>
            <th>IsFake</th>
        </tr>

        <tr>
            <th>@news.Id</th>
            <td>@news.Title</td>
            <td>@news.Text</td>
            <td colspan="2">@news.Author.FirstName    @news.Author.LastName</td>
            <td>@news.IsFake</td>
        </tr>
    </table>
}
else
{
    <p>@ViewData["newsById"]</p>
}

